body{
    text-align: center;
     background-size: contain;
    background-color: rgb(21, 22, 24);
  
    
    
}
.btn{
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    height: 60px;
    border: 2px ;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgb(254, 59, 31);
    margin-top:300px;
    cursor: pointer;
    font-size: 30px;
}
.sub{
    
    font-family: 'Montserrat', sans-serif;
    margin-top:20px;
    font-size: 20px;
    
}
.sub,a{
    color: white;
}